<?xml version="1.0" encoding="UTF-8"?>
<?xml version=“1.0” encoding=“utf-8”?>
<web-app xmlns=“http://xmlns.jcp.org/xml/ns/javaee”
                  xmlns:xsi=“http://www.w3.org/2001/XMLSchema-instance”
                  xsi:schemaLocation=“http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd”
	  version=“3.1”>
    <session-config>
        <session-timeout>10080</session-timeout>
        <cookie-config>
            <name>maskswapID</name>
            <max-age>604800</max-age>
        </cookie-config>
    </session-config>
</web-app>
